flask
Flask-Cors
gunicorn
matplotlib
mysql-connector-python
psycopg2
#psycopg2-binary
requests
seaborn
flask_sqlalchemy
jwt
pyotp
qrcode
Flask-Mail
flask-login
flask-bcrypt
Flask-SQLAlchemy
flask-migrate
pycryptodome