{% extends "site.html" %}

{% block title %}
{% if title %}{{ title }} {% endif %}
{% endblock %}

{% block content %}

{% block styles %}
<style>
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .message {
    font-size: .9rem;
  }

  .error {
    color: rgb(247, 45, 45);
  }

  .info {
    color: rgb(19, 122, 240);
  }

  .success {
    color: rgb(11, 167, 11);
  }

  .danger {
    color: rgb(255, 94, 0);
  }





  .list-group {
    width: 100%;
    max-width: 460px;
    margin-inline: 1.5rem;
  }

  .form-check-input:checked+.form-checked-content {
    opacity: .5;
  }

  .form-check-input-placeholder {
    border-style: dashed;
  }

  [contenteditable]:focus {
    outline: 0;
  }

  .list-group-checkable .list-group-item {
    cursor: pointer;
  }

  .list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  .list-group-item-check:hover+.list-group-item {
    background-color: var(--bs-secondary-bg);
  }

  .list-group-item-check:checked+.list-group-item {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .list-group-item-check[disabled]+.list-group-item,
  .list-group-item-check:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }

  .list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
  }

  .list-group-radio .form-check-input {
    z-index: 2;
    margin-top: -.5em;
  }

  .list-group-radio .list-group-item:hover,
  .list-group-radio .list-group-item:focus {
    background-color: var(--bs-secondary-bg);
  }

  .list-group-radio .form-check-input:checked+.list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 2px var(--bs-primary);
  }

  .list-group-radio .form-check-input[disabled]+.list-group-item,
  .list-group-radio .form-check-input:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }
</style>
{% endblock %}


<div class="container" style="margin-top:10%;">
  <div class="col-lg-12"
    style="display: flex; flex-direction: column; justify-content: center;align-items: center; text-align:center">
    <h1>Enroll to {{ course }} <span style="font-size: .8rem; color: #32d33a">[{{ course_code }}]</span></h1>

    <div class="col-3" style="display: block; flex-direction: column; text-align:center">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}


      {% for category, message in messages %}
      <span class="{{ category }}">
        <p class="pb-3 mb-0 small lh-sm">{{ message }}</p>
      </span>
      {% endfor %}


      {% endif %}
      {% endwith %}
    </div>
  </div>
</div>


<div class="container" style="justify-content: center; align-items: center; ">

  <div class="col-lg-12" style="display: flex; justify-content: center; align-items: center;">

    <div class=" rounded-4 shadow">

    </div>
    <div class="col-md-6 col-lg-7 ">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" method="post" novalidate enctype="multipart/form-data">
        <input type="hidden" class="form-control" readonly id="csrf_token" name="csrf_token" 
         value="{{ csrf_token() }}">
        <div class="row g-3">

          <div class="col-sm-3">
            
              <input type="text" style="background-color: #c6cac7;" class="form-control" readonly id="course_id" name="course_id" value="{{ course_code }}" placeholder="Course ID" required>
              <div class="invalid-feedback">
                Your course id is required.
              </div>
            
          </div>

          <div class="col-sm-7">
            
              <input type="text" style="background-color: #c6cac7;" class="form-control" readonly id="course" name="course" value="{{ course }}" placeholder="Course" required>
              <div class="invalid-feedback">
                Your course is required.
              </div>
            
          </div>

          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" 
            {% if "firstname" in session %} value="{{ session['firstname']}}" readonly {% else %} value="{{request.form.firstName}}" {% endif %} required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" 
            {% if "lastname" in session %} value="{{ session['lastname']}}" readonly {% else %} value="{{request.form.lastName}}" {% endif %} required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-12">
            <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" id="username" name="username" value="{{request.form.username}}" placeholder="Username" required>
            <div class="invalid-feedback">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Email <span class="text-danger">*</span></label>            
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input type="email" class="form-control" id="email" name="email" 
              {% if "email" in session %} value="{{ session['email']}}" readonly {% else %} value="{{request.form.email }}" {% endif %} placeholder="you@example.com" required>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Address <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="address" name="address" value="{{request.form.address}}" placeholder="1234 Main St" required>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="col-12">
            <label for="address2" class="form-label">Address 2 <span class="text-body-secondary">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" name="address2" value="{{request.form.address2}}" placeholder="Apartment or suite">
          </div>

          <div class="col-md-5">
            <label for="country" class="form-label">Country <span class="text-danger">*</span></label>
            <select class="form-select" id="country" name="country" required>
              <option value="" >Choose...</option>
              {% if request.form.country != '' %} 
              <option value="{{request.form.country}}" selected>{{request.form.country}}</option>
              {% elif 'country' in session %}
              <option value="{{ session['country'] }}" selected>{{ session['country'] }}</option>
              {% endif %}
              
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <div class="col-md-4">
            <label for="state" class="form-label">State <span class="text-danger">*</span></label>
            <select class="form-select" id="state" name="state" required>
              <option value="">Choose...</option>
              <option {% if request.form.state == 'Coimbra' %}  selected {% endif %} >Coimbra</option>
              <option {% if request.form.state == 'Lisboa' %}  selected {% endif %}>Lisboa</option>
              <option {% if request.form.state == 'Porto' %}  selected {% endif %}>Porto</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>

          <div class="col-md-3">
            <label for="zip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip" value="{{request.form.zip}}" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>

        <hr class="my-4">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address" name="sameAddress" 
          {% if request.form.sameAddress == 'Shipping address is the same as my billing address' %}  checked {% endif %} 
          value="Shipping address is the same as my billing address">
          <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="save-info" name="saveInfo" 
          {% if request.form.saveInfo == 'Save this information for next time' %}  checked {% endif %} 
          value="Save this information for next time">
          <label class="form-check-label" for="save-info">Save this information for next time</label>
        </div>

        <hr class="my-4">

        <h4 class="mb-3">Payment</h4>

        <div class="my-3">
          <div class="form-check">
            <input id="credit" name="paymentMethod" value="credit card" type="radio" class="form-check-input" 
            {% if request.form.paymentMethod == 'credit card' %} checked {% endif %} required>
            <label class="form-check-label" for="credit">Credit card </label>
          </div>
          <div class="form-check">{{request.form.country}}
            <input id="debit" name="paymentMethod" value="debit card" type="radio" class="form-check-input" 
            {% if request.form.paymentMethod == 'debit card' %} checked {% endif %} required>
            <label class="form-check-label" for="debit">Debit card</label>
          </div>
          <div class="form-check">
            <input id="paypal" name="paymentMethod" value="paypal" type="radio" class="form-check-input" 
            {% if request.form.paymentMethod == 'paypal' %} checked {% endif %} required>
            <label class="form-check-label" for="paypal">PayPal</label>
          </div>

          <div class="form-check">
            <input id="bankReference" name="paymentMethod" value="bank reference" type="radio" class="form-check-input" 
            {% if request.form.paymentMethod == 'bank reference' %} checked {% endif %} required>
            <label class="form-check-label" for="bankReference">Bank reference</label>
          </div>

          <div class="col-md-7" id="bankticket" style="display: none;">
            <div class="input-group mb-3">
              <label class="input-group-text" for="bank-ticket" >Upload</label>
              <input type="file" class="form-control" id="bank-ticket" name="bankTicket" value="{{request.form.bankTicket}}" 
              maxlength="5000000" accept="image/.png,.jpg,.jpeg,.pdf" >
              
            </div>
            <span><b>Formats:</b> <span style="font-size: .9rem; color: #f03a3a;">.png,.jpg,.jpeg,.pdf</span></span>

          </div>

        </div>

        <div class="row gy-3" id="cc_name">
          <div class="col-md-6">
            <label for="cc-name" class="form-label">Name on card <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="cc-name" name="ccName" value="{{request.form.ccName}}" placeholder="" >
            <small class="text-body-secondary">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>

          <div class="col-md-6" id="cc_number">
            <label for="cc-number" class="form-label">Credit card number <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="cc-number" name="ccNumber" value="{{request.form.ccNumber}}" placeholder="" >
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>

          <div class="col-md-3" id="cc_expiration">
            <label for="cc-expiration" class="form-label">Expiration <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="cc-expiration" name="ccExpiration" value="{{request.form.ccExpiration}}" 
            maxlength="5" placeholder="" >
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>

          <div class="col-md-3" id="cc_cvv">
            <label for="cc-cvv" class="form-label">CVV <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="cc-cvv" name="ccCVV" maxlength="3" value="{{request.form.ccCVV}}" placeholder="" >
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>

        <hr class="my-4">

        <button class="w-40 btn btn-primary " type="submit">Submit</button>

      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}

<script type="module" src="{{ url_for('static', filename='app/auth/get_countries.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/checkout.js') }}"></script>
<script>

  var cc_name = document.getElementById('cc-name');
  cc_name.setAttribute('required', true)
  var cc_number = document.getElementById('cc-number');
  cc_number.setAttribute('required', true)
  var cc_expiration = document.getElementById('cc-expiration')
  cc_expiration.setAttribute('required', true)
  var cc_cvv = document.getElementById('cc-cvv')
  cc_cvv.setAttribute('required', true)

  document.getElementById('bankReference').addEventListener('click', (e)=>{
    document.getElementById('bankticket').style.display = 'block'
    document.getElementById('bank-ticket').setAttribute('required', true)
    cc_name.removeAttribute('required')
    //document.getElementById('cc_name').style.display = 'none'
    cc_number.removeAttribute('required')
    //document.getElementById('cc_number').style.display = 'none'
    cc_expiration.removeAttribute('required')
    //document.getElementById('cc_expiration').style.display = 'none'
    cc_cvv.removeAttribute('required')
    //document.getElementById('cc_cvv').style.display = 'none'
  })

  document.getElementById('debit').addEventListener('click', (e)=>{
    document.getElementById('bankticket').style.display = 'none'
    cc_name.setAttribute('required', true)
    //cc_document.getElementById('cc_name').style.display = 'block'
    cc_number.setAttribute('required', true)
    //document.getElementById('cc_number').style.display = 'block'
    cc_expiration.setAttribute('required', true)
    //document.getElementById('cc_expiration').style.display = 'block'
    cc_cvv.setAttribute('required', true)
    //document.getElementById('cc_cvv').style.display = 'block'
  })

  document.getElementById('credit').addEventListener('click', (e)=>{
    document.getElementById('bankticket').style.display = 'none'
    cc_name.setAttribute('required', true)
    //document.getElementById('cc_name').style.display = 'block'
    cc_number.setAttribute('required', true)
    //document.getElementById('cc_number').style.display = 'block'
    cc_expiration.setAttribute('required', true)
    //document.getElementById('cc_expiration').style.display = 'block'
    cc_cvv.setAttribute('required', true)
    //document.getElementById('cc_cvv').style.display = 'block'
  })

  document.getElementById('paypal').addEventListener('click', (e)=>{
    document.getElementById('bankticket').style.display = 'none'
    cc_name.setAttribute('required', true)
    //document.getElementById('cc_name').style.display = 'block'
    cc_number.setAttribute('required', true)
    //document.getElementById('cc_number').style.display = 'block'
    cc_expiration.setAttribute('required', true)
    //document.getElementById('cc_expiration').style.display = 'block'
    cc_cvv.setAttribute('required', true)
    //document.getElementById('cc_cvv').style.display = 'block'
  })
  

</script>
{% endblock %}