{% extends "e_learning/e-learning.html" %}

{% block style %}
<style>
    .navbar {
        background-color: var(--primary-color);

    }

    .navbar-brand,
    .nav-link,
    .navbar-text {
        color: #fff !important;
    }

    .btn-outline-light:hover {
        color: var(--primary-color);
    }

    #sidebar {
        background: #fff;
        color: #131313;
        border: 1px solid #b9b9b9;
    }

    #sidebar .nav-link {
        color: #131313 !important;
        font-size: .8rem;

    }

    #sidebar .nav-link:hover {
        border-radius: 0;
        background-color: rgb(221, 221, 221);
    }

    #sidebar .nav-link.active {
        border-radius: 0;
        background-color: rgb(221, 221, 221);
        color: #0f5ef1 !important;
    }

    .submenu .nav-link {
        text-decoration: underline rgb(221, 221, 221);
    }

    .video-section {
        text-align: center;
        margin: 1rem 0;
    }

    .video-container {
        position: relative;
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        padding-right: 100%;
        padding-bottom: 45%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 8px;
    }

    .show {
        display: block;
        opacity: 1;
    }
    video{
        padding: 1rem .5rem;
        border: 1px solid #b4b4b4;
        border-radius: 2px;
    }

    .comment{

    }

    @media (max-width: 768px) {

        .video-container {
            width: 100%;
            padding-bottom: 56.25%;
        }
    }
</style>

{%endblock%}



{% block content %}
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block">
    <div class="position-sticky">
        <ul class="nav flex-column">

            {% if modules %}
            {% for m in modules %}

            <li class="nav-item">
                {% if m == 1 or m == "1" %}
                <a class="nav-link active" href="#programming">
                    {% else %}
                    <a class="nav-link" href="#programming">
                        {% endif %}
                        <i class="fas fa-code me-2"></i>Module {{m}}
                        <i class="fas fa-chevron-down float-end"></i>
                    </a>
                    <ul class="nav flex-column submenu">
                        {% if course_content %}
                        {% for content in course_content %}
                        {% if content.content_module == m %}
                        {% if content.content_type == 'video' or content.content_type == 'local-video' or
                        content.content_type == 'youtube-video' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#python"
                                onclick='getContent("{{content.course_id}}","{{content.content_type}}", "{{content.content_file}}", "{{content.content_description}}")'>
                                {{ content.content_description }}
                            </a>
                        </li>
                        {% elif content.content_type =='lab' %}
                        <li class="nav-item"></li>
                        <a class="nav-link"
                            href="{{ url_for('course.learn.laubcode', userID=session.get('user_id', None), user_token=session.get('user_token', None))}}"
                            target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i> Laboratory</a>
            </li>
            {% endif %}

            {% endif %}
            {% endfor %}
            {% endif %}

        </ul>
        </li>
        {% endfor %}
        {% endif %}



        <!--<li class="nav-item">
                <a class="nav-link" href="#web-development">
                    <i class="fas fa-code me-2"></i></i>Web Development
                    <i class="fas fa-chevron-down float-end"></i>
                </a>
                <ul class="nav flex-column submenu">
                    <li class="nav-item">
                        <a class="nav-link" href="#frontend">Frontend</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#backend">Backend</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mobile-development">
                    <i class="fas fa-mobile-alt me-2"></i>Mobile Development
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#devops">
                    <i class="fas fa-cogs me-2"></i>DevOps
                </a>
            </li>-->
        </ul>
    </div>
</nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Python Basic</h1>
    </div>

    <section id="javascript-courses">
        <div class="row">

            <!--
            
            
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-rocket me-2"></i>Advanced JavaScript</h5>
                        <p class="card-text">Dive deep into advanced JavaScript concepts and techniques.</p>
                        <a href="https://d-tuning.com/courses/advanced-javascript" class="btn btn-primary">Start Learning</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-cubes me-2"></i>JavaScript Frameworks</h5>
                        <p class="card-text">Explore popular JavaScript frameworks like React, Vue, and Angular.</p>
                        <a href="https://d-tuning.com/courses/javascript-frameworks" class="btn btn-primary">Start Learning</a>
                    </div>
                </div>
            </div>
            -->
        </div>
    </section>


    <section id="javascript-demo">
        <h3 class="mt-5">JavaScript Demo</h3>
        <p>Try out this interactive JavaScript demo:</p>
        <div class="code-snippet">
            <pre><code id="js-code">
function greet() {
const name = document.getElementById('nameInput').value;
const greeting = `Hello, ${name}! Welcome to JavaScript learning.`;
document.getElementById('greetingOutput').textContent = greeting;
}
            </code></pre>
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Enter your name:</label>
            <input type="text" class="form-control" id="nameInput" placeholder="Your name">
        </div>
        <button onclick="greet()" class="btn btn-primary">Greet Me!</button>
        <p id="greetingOutput" class="mt-3"></p>
    </section>

    <section id="my-notes">
        <h4 class="mt-5">My Notes</h4>
        <p id="lesson">Lesson</p>
        <div class="col-lg-12 mt-2 ">
            <div class="comments">
            
            </div>
        </div>
    </section>

    <!--<section id="javascript-resources">
        <h3 class="mt-5">Additional Resources</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><i class="fas fa-external-link-alt me-2"></i>MDN Web Docs - JavaScript</a></li>
            <li class="list-group-item"><a href="https://javascript.info/"><i class="fas fa-external-link-alt me-2"></i>JavaScript.info</a></li>
            <li class="list-group-item"><a href="https://www.w3schools.com/js/"><i class="fas fa-external-link-alt me-2"></i>W3Schools JavaScript Tutorial</a></li>
        </ul>
    </section>-->
</main>
{% endblock %}
{% block script %}
<script>
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
    var topic = 'Introduction to python programming language'
    var contentDescription = `Watch the video carefully and then apractice your skills by making  the exercices`;
    var iframeComponent = null;
    var autoPlay = 1
    var serverFilePath = 'static'
    var course_id = 0;
    var lesson = '';

    function getContent(courseID, fileType, content_file, topicCont) {
        localStorage.setItem('topicCont', topicCont)
        localStorage.setItem('courseID', courseID)
        topic = topicCont

        const formButtons = `<div class="row ">

                <div class="col-md-1">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" onclick="setAutoplay(event)" role="switch" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Autoplay</label>
                    </div>
                </div>

                <div class="col-md-1 ">
                    <button class="btn btn-primary rounded-pill px-3 btn-sm" onclick="newNote()" id="newNote(event)">Note</button>
                </div>
            </div>

             <div class="col-md-5 text-start" id="noteForm" style="display:none">
                <h4 class="mt-2">Notes</h4>
                <form id="formComment">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="newComment" name="newComment" style="height: 100px"></textarea>
                        <label for="newComment">Comments</label>
                    </div>
                    <button type="button" onclick="postThisNote('${courseID}', '${topic}')" class="btn btn-primary">Save</button>
                </form>
             </div>`;

        const iframe = `
    <h4 class="mt-2">Lesson: ${localStorage.getItem('topicCont')}</h4>
        <p> Watch the video carefully and then apractice your skills by making  the exercices</p>
    <section class="video-section container fade-in">
            <div class="video-container mb-3">
                <iframe class="iframe-video" src="${content_file}?autoplay=${localStorage.getItem('autoplay')}" title="TechInnovate: Revolutionizing Business with Data Science" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>            
            ${formButtons}
        </section>
    `;

        var videoTag = `
        <h4 class="mt-2">Lesson: ${localStorage.getItem('topicCont')}</h4>
        <p> Watch the video carefully and then apractice your skills by making  the exercices</p>
   
        
            
                <video autoplay id="videoPlayer" class="w-100" controls>`;
        if (fileType === 'local-video') {


            videoTag += `
                    <source src="${window.location.origin + '/static/' + content_file}" type="video/mp4">`;


        } else if (fileType === 'video') {
            videoTag += `
                    <source src="${content_file}" type="video/mp4">`;
        }
        videoTag += ` Your browser does not support the video tag.
                </video>
               
                ${formButtons}
            
    `;

        if (fileType === 'local-video') {
            document.getElementById('javascript-demo').innerHTML = videoTag
        } else if (fileType === 'youtube-video') {
            document.getElementById('javascript-demo').innerHTML = iframe
        }

        document.getElementById('javascript-demo').innerHTML += ``;

        getComments(localStorage.getItem('courseID'), localStorage.getItem('topicCont'))

    }

    var noteForm = document.getElementById('noteForm')
    var formNoteShowed = false
    function newNote(event) {
        if (formNoteShowed) {
            formNoteShowed = false
            setTimeout(() => {
                document.getElementById('noteForm').style.display = 'none'
            }, 400)
        } else {
            formNoteShowed = true
            setTimeout(() => {
                document.getElementById('noteForm').style.display = 'block'
            }, 400)

        }

    }


    function postThisNote(courseID, lesson) {

        const endpoint = `${window.location.origin}/course/learn/notes/new/${courseID}/${lesson}`;
        var comment = document.getElementById('newComment').value

        const headers = new Headers()
        headers.append('X-CSRF-Token', csrfToken)
        headers.append("Authorization", ` Bearer ${csrfToken}`);
        const formData = new FormData()
        formData.append("comment", comment)
        formData.append("course_id", courseID)
        formData.append("lesson", lesson)

        fetch(endpoint,
            {
                method: "POST",
                headers: headers, // Add the CSRF token to the headers
                body: formData,  //JSON.stringify({"comment": comment}),            
            }
        )
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then((data) => {
                console.log(data)
                if (data.status === false | data.status === 'false') {
                    console.log(data)
                } else {
                    comment.value = ''
                    setTimeout(() => {
                        document.getElementById('noteForm').style.display = 'none'
                    }, 400)
                }

            }).catch((err) => console.log(err))
    }

    function setAutoplay(event) {

        //const submenu = event.currentTarget.nextElementSibling;
        if (String(event.currentTarget.checked) === 'true') {
            localStorage.setItem('autoplay', 1)
        } else {
            localStorage.setItem('autoplay', 0)
        }

    }

    async function getComments(courseID, lesson) {
        await fetch(`${window.location.origin}/course/learn/notes/get/${courseID}/${lesson}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then((data) => {
                
                console.log(data)
                if(data[0].notes.length > 0){
                    document.getElementById('lesson').innerText = `Topic: ${data[0].notes[0].lesson}`
                    document.querySelector('.comments').innerHTML += 
                    `<p style="color: #1fd346;font-size: .8rem;">Created at ${data[0].notes[0].timestamp}</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; ${data[0].notes[0].comment}</p>
                    
                    `;
                    
                }
            }).catch((err) => console.log(err))
    }


    //getComments(localStorage.getItem('courseID'), localStorage.getItem('topicCont'))

</script>
{% endblock %}