{%extends 'site.html'%}
{%block title%}
{%if title%}{{title}}{%endif%}
{%endblock%}

{%block scripts %}

<script type="module" src="{{ url_for('static', filename='app/emotion_detection.js') }}"></script>

{% endblock %}

{%block content%}

<style>
  .sentiment-container {
    display: flex;
    justify-content: center;
  }
</style>

<div class="sentiment-container container" >
  <div class="col-lg-7">

    <div class="p-3 mb-4 bg-body-tertiar rounded-3 scroll-animation">
      <div class="container-fluid py-5">        
        <h1 class="display-6 fw-bold welcome-title text-light">Emotions Detection</h1>
        <p class="col-md-8 fs-4 text-light-emphasis">
          Welcome to our <i style="color: rgb(42, 81, 255);">Emotions Detector</i> feature. Enter or paste a comment in the field below to test it.
        </p>
      </div>
    </div>
    <style>
     
    </style>

    <div class="my-3 p-3 bg-body rounded shadow-sm" style="background-color:#444">
      <div class="head" style="display: flex; justify-content:center;">
        <div class="btn-group">
          <a href="#" class="btn btn-primary active" aria-current="page">
            <i class="fa-regular fa-comment-dots"></i>
            Comment
          </a>
          <a href="#" class="btn btn-primary" >
            <i class="fa-solid fa-upload"></i>
            TXT Archieve</a>
        </div>
      </div>
      <form id="sentimentAnalyserForm" class="sentimentAnalyserForm">
        
        <div class="d-flex text-body-secondary pt-3">
          <div class="input-group">
            <!--<textarea class="form-control" id="comment" name="comment" required maxlength="255" 
            oninput="this.value = this.value.replace(/[^\w\s]/gi, '')" 
            aria-label="With textarea"></textarea>-->
            <textarea class="form-control" id="comment" name="comment" required maxlength="500" 
            oninput="this.value = this.value.replace(/[<>\/#$=]|[^a-zà-úA-ZÀ-Ú0-9\s.,;?!-_]/gi, '')" 
            aria-label="With textarea"></textarea>
          </div>
        </div>
  
        <small class="d-block text-end mt-3">
          <div class="btn-group">
            <button class="btn btn-outline-primary" type="submit" aria-current="page">
              <i class="fa-regular fa-paper-plane"></i>
            </button>
          </div>
        </small>

        <div class="my-3 progress-process" id="progress-process" style="display: none;">
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
          </div>
        </div>

      </form>      

      <div class="form-group">
        <div class="form-message">
          <p></p>
        </div>
      </div>

      <div class="my-3 p-3 bg-body rounded shadow-sm" >
        <nav class="navbar border-bottom">
          <div class="container-fluid">
            <a class="navbar-brand">Emotions Detection</a>
            <form class="d-flex" role="search">
              <button class="btn btn-outline-primary btn-sm" id="visualize" type="button">Visualize</button>
            </form>
          </div>
        </nav>
        <br>
        <!--<div class="d-flex text-body-secondary pt-3">-->
          <div class="row response" id="response">

          </div>
        <!--</div>-->

          <ul class="nav nav-underline" id="nav-charts" style="display: none;">
            <li class="nav-item">
              <button class="nav-link" id="line-chart" aria-current="page" >Line chart</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="bar-line-chart" aria-current="page" >Bar Line chart</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="pie-chart" >Pie chart</button>
            </li>
          </ul>
          <div class="chart-container" id="chart-container">

          </div>
        
        <small class="d-block text-end mt-3">
          <a href="#">All updates</a>
        </small>
      </div>
    </div>
  </div>

</div>

{%endblock%}