{% extends 'errors/baserror.html' %}
{% block header %}
{% block title %} 

{% if error %}
    {{ error }}
{% else %}
    403 - 
{% endif %}

{% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Oops! 
            {% if message %}
                {{ message }}
            {% else %}
                Error 403
            {% endif %}
        </h1>
        <img src="{{image}}" alt="Error Image" class="img-fluid">
        <p>
            {% if detail %}
                {{ detail }}
            {% else %}
                We're sorry, but the page you are looking for does not exist.
            {% endif %}
        </p>

        <a href="{{ url_for('index')}}" class="btn btn-primary">Go to Home</a>
    </div>
{% endblock %}
