{% extends 'errors/baserror.html' %}
{% block header %}
{% block title %} 

{% if error %}
    {{ error }}
{% else %}
    404 - 
{% endif %}

{% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <p><h2>Oops!</h2></p>
        <img src="{{ url_for('static', filename='assets/img/404.png')}}" width="300" height="350" alt="404 Error Image" class="img-fluid">
        <h1 class="mt-5">
            {% if message %}
                {{ message }}
            {% else %}
                Error 404
            {% endif %}
        </h1>
        <p>
            {% if detail %}
                {{ detail }}
            {% else %}
                We're sorry, but the page you are looking for does not exist.
            {% endif %}
        </p>

        <a href="{{ url_for('index')}}" class="btn btn-primary">Go to Home</a>
    </div>
{% endblock %}
