{% extends 'index2.html' %}

{% block header %}
<h1></h1> {% block title %} {{ title }} - {% endblock %}</h1>
{% endblock %}

{% block content %}

<style>

  @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
  .title{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    
    font-weight: bold;
    font-style: normal;
    color: #3266f5;
  }

  #box-qrcode{

  }
</style>


<!--  Welcome section -->
<section class="welcome-section">

  <div class="welcome p-4 p-md-2 mb-4 rounded text-body-emphasis  center-content">
    <div class="col-lg-6 px-0 information">

      <h3 class="title" >
        Welcome to Data Management and Analysis Consulting
      </h3>
      <p class="lead">
        We are a company that provides consulting and training services in data management and analysis. We help
        companies to improve their data management and analysis processes.
      </p>
      

    </div>
  </div>

  <!--  Services section -->
  <div class="row mb-2 services">

    <!-- Consulting -->

    <div class="col-md-6 chield">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">
            <h3 class="mb-0">Consulting</h3>
          </strong>

          <p class="mb-auto">
            We provide consulting services for companies that need to improve their data management and analysis
            processes
          </p>

        </div>

        <div class="col-auto d-one d-lg-block">
          <img class="img-consulting"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlqko9M7c5zilUBHNhsJrjvpcgMnW7MH_xiQalkDiFUw&s"
            alt="" height="249px">
        </div>

      </div>
    </div>
    <!-- End consulting -->

    <!-- Training -->
    <div class="col-md-6 chield">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <div class=" col-lg-12">
            <h2> {{ title }} </h2>
            <form class="needs-validation form-register" method="post" id="form-register" novalidate>
              <div class="row g-3">             
    
                <div class="col-12">
                  <label for="firstname" class="form-label">First name</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" required>
                    <div class="invalid-feedback">
                      Your first name is required.
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="lastname" class="form-label">Last name</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" required>
                    <div class="invalid-feedback">
                      Your last name is required.
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
                    <p style="font-size: .8rem; color:#c0c0c0">Accepted emails: 
                      <span style="font-size: .8rem; color:#f77d0a">
                        gmail.com, outlook.com, hotmail.com, live.com, icloud.com</span>
                      </p>
                    <div class="invalid-feedback">
                      Your email is required.
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="country" class="form-label">Country</label>
                  <div class="input-group has-validation">
                    <select id="country" name="country" class="form-control">
                      <option selected>Choose...</option>
                      <option>Portugal</option>
                    </select>

                    <div class="invalid-feedback">
                      The country is required.
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="form-group col-md-4">
                    <label for="code">Code</label>
                    <select id="country_code" name="country_code" class="form-control">
                      <option selected></option>
                      <option>+351</option>
                    </select>
                  </div>

                  <div class="form-group col-md-8">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" max="12" min="4" id="phone" name="phone">
                  </div>

                </div>
                
                <style>
                  .btn{
                    margin: 2%;
                  }

                  #box-qrcode, #get_code, #two-FA-div{
                    display: none;
                  }
                </style>
    
                <div class="col-12">
                  <label for="password" class="form-label">Password </label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                  <div class="invalid-feedback">
                    Please enter a valid password address for shipping updates.
                  </div>
                </div>

                <div class="col-12">
                  
                  <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm the password" required>
                  <div class="invalid-feedback">
                    Please confirm the password.
                  </div>
                </div>

                <hr class="my-4">

                <div class="col-12">               
                  <strong class="d-inline-block mb-2 text-primary-emphasis">
                    <h3 class="mb-0">2-Factor Authentication</h3>
                  </strong>
        
                  <p class="mb-auto" style="color: #bebdbd;">
                    We worring about your data security. We use 2-Factor Authentication to protect your data.
                  </p>
                  <p class="mb-auto" style="color: #bebdbd;">
                    Please select one of the options below to authenticate.
                  </p>
                  <div class="my-3">
                    <div class="form-check">
                      <input id="two_fa_auth_method" name="two_fa_auth_method" type="radio" value="app" class="form-check-input" checked required>
                      <label class="form-check-label" for="two_fa_auth_method" style="color: #bebdbd;">By using a 2-FA authenticator application</label>
                      <p style="font-size: .8rem; color: #bebdbd;">(Google Authenticator, Microsoft Authenticator, Salesforce Authenticator, etc.)</p>
                    </div>
                    <div class="form-check">
                      <input id="two_fa_auth_method" name="two_fa_auth_method" type="radio" value="email" class="form-check-input" required>
                      <label class="form-check-label" for="two_fa_auth_method" style="color: #bebdbd;">Receive code by email or cell phone</label>
                    </div>
                  </div>

                </div>

                

                <!--<div class="row">                  

                  <div class="col-12 " id="box-qrcode"  style="justify-content: center;">
                
                      <p>
                        Scan the QR code with your authenticator app
                      </p>
                      <div class="input-group has-validation" id="otpimage" style="justify-content: center;background-color:#fff; border-radius: 2rem; margin: 2%;">
                        
                        <img id="qrcodeImage" src="https://th.bing.com/th/id/R.dcf4b6e228aef80dd1a58f4c76f07128?rik=Qj2LybacmBALtA&riu=http%3a%2f%2fpngimg.com%2fuploads%2fqr_code%2fqr_code_PNG25.png&ehk=eKH2pdoegouCUxO1rt6BJXt4avVYywmyOS8biIPp5zc%3d&risl=&pid=ImgRaw&r=0" height="150" width="150" alt="" srcset="">
                                               
                      </div>
                      
                  </div>

                </div>-->

                <div class="col-11 alert" style="font-size: .8rem;">                  
                    <p></p>
                </div> 
                
                <div class="col-11" id="two-FA-div">
                  <label for="two_factor_auth_code" class="form-label">2-Fatcor authentication </label>                    
                  <input type="number" class="form-control" max="6" id="two_factor_auth_code" name="two_factor_auth_code" placeholder="2 Factor auth code">
                  <div class="invalid-feedback code-alert" id="code-alert">
                    <p></p>
                  </div>
                </div>
    
              </div>
              

              <hr class="my-2">
              
              <div class="buttons" style="padding:.6rem 0;">
                <!--<a class="w-100 btn btn-primary btn-lg" id="get_code" 
                  onclick="getqrcode()" rel="noopener noreferrer">I have already have a code</a>-->
                
                <button class="w-100 btn btn-primary btn-lg" id="submit" type="submit">Next</button>
                

              </div>

            </form>

            <p>
              Are you already registered? Click to 
              <a href="{{ url_for('Auth.two_fa_app_login')}}" rel="noopener noreferrer">Sign In</a>
            </p>
          </div>
          
        </div>

      </div>
    </div>

    <!-- End Training -->

    

  </div>

  <!--  End Services section -->

</section>


<!--  End welcome section -->


{% endblock %}