{% extends 'index2.html' %}

{% block header %}
<h1></h1> {% block title %} {{ title }} - {% endblock %}</h1>
{% endblock %}

{% block content %}

<style>

  @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
  .title{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    
    font-weight: bold;
    font-style: normal;
    color: #3266f5;
  }

  
</style>


<!--  Welcome section -->
<section class="welcome-section">

  <div class="welcome p-4 p-md-2 mb-4 rounded text-body-emphasis  center-content">
    <div class="col-lg-7 px-0 information center-content">

      <div class="col-lg-7">
        <h4 class="title" >
          Welcome to Data Management and Analysis Consulting
        </h4>
  
        {% if firstname %}
        <h3 class="title" style="color: #4afc53;margin-top:5%;">
          {{ firstname}} {{ lastname}}
        </h3>
        
        {% endif %}
        
      </div>
    </div>
  </div>

  <!--  Services section -->
  <div class="row mb-2 services" style="justify-content: center;">

    

    <!-- Training -->
    <div class="col-md-6 chield">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <div class=" col-lg-12" style="text-align: center;">
            <h4>{{ title }} </h4>
            
            {% if firstname %}
            
            <div class="row g-3" style="justify-content: center;">             
              <p>
                You have been authenticated.
              </p>
              <div class="col-12" style="justify-content: center;">
                
                
                <div class="input-group has-validation" style="justify-content: center;">
                  
                  <img src="{{ url_for('static', filename='assets/img/icons8-success.gif') }}" height="150" width="150"
                   alt="success-icon" style="border-radius: 6rem;" srcset="">

                </div>
                
              </div>
  
            </div>

            {% endif %}
            
            <p>
              Please check your email to activate your account.
              <a href="{{ url_for('Auth.two_fa_app_login')}}" rel="noopener noreferrer">Sign Up.</a>
            </p>

          </div>
          
        </div>

      </div>
    </div>

    <!-- End Training -->

    

  </div>

  <!--  End Services section -->

</section>



<!--  End welcome section -->


{% endblock %}