/* stylelint-disable stylistic/selector-list-comma-newline-after */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@1,400;1,600&family=Bricolage+Grotesque&family=Jaro:opsz@6..72&family=Jersey+25+Charted&family=Pacifico&family=Roboto:ital,wght@0,500;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  align-items: center;
  text-align: justify;
  background: rgb(9, 9, 32);
  color: #fff;
}

.main-section {
  background-image: radial-gradient(rgb(14, 16, 48) 6px, transparent 6px);
  background-size: 40px 40px;
  border-radius: 100% 0.1% 0.1% 0.1%;
}

.blog-header-logo {
  /*font-family: "Playfair Display", Georgia, "Times New Roman", serif; */ /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.welcome {
  overflow: hidden;
  position: relative;

  .welcome-title {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    color: #0aec4e;
  }

  p {
    color: #fff;
  }
}

.welcome:after {
  content: "";
  background-color: #f00;
  width: 254%;
  height: 254%;
  position: absolute;
  transform: rotate(45deg) translate(-60%, 0);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  background-color: #ffffff;
  clip-path: polygon(0 0, 98% 0, 100% 90%, 0 100%);
  justify-content: center;
  .nav{    
    justify-content: center !important;
    
  }
}

.nav-item {
  color: #000000;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.black-bg {
  padding: 0.2rem 1rem;
  width: 20px;

  background-color: #0aec4e;
  margin-top: 0.2%;
  clip-path: polygon(0 0, 98% 0, 100% 100%, 0 97%);

  .nav-item {
    color: #fff;
  }
}

.white-text {
  color: #fff;
}

.active {
  color: #1782da;
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* This ensures the navbar stays on top of other elements */
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.col-auto .data-processing {
  width: 400px;
  height: 300px;
  margin-top: 20%;
  margin-right: 5%;

}

.col-auto .learn-code {
  width: 180px;
  height: 130px;
  margin-top: 20%;
  margin-right: 5%;
  border-radius: 7rem;
}




.featurette{

  div{
    h2{
      margin-top: 20%;
      span{
        color: #0aec4e;
      }
    }
  }
}

.etl{
  img{
    border-radius: 1rem;
  }
}

/*------------ team box css */

.team-boxed {
  color:#313437;

}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}



.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
  justify-content: center;
}

.team-boxed .item {
  text-align:center;
  
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#0aec4e;
  margin-bottom:30px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
  border: 1px solid #f7f7f7;

}

.team-boxed .item .name {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:140px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}


.data-pipeline{
  border-radius: 1rem;
  border: 1px solid #161757;
  box-shadow: 0 0 6px #f7f7f7;
}

/*------------ resposive css */

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .h-md-250 {
    height: 250px;
  }

}
