{% extends 'index2.html' %}

{% block header %}
<h1></h1> {% block title %} Home - {% endblock %}</h1>
{% endblock %}

{% block content %}

<style>

</style>


<!--  Welcome section -->
<section class="welcome-section">

  <div class="welcome p-4 p-md-2 mb-4 rounded text-body-emphasis  center-content">
    <div class="col-lg-6 px-0 information">

      <h1 class="welcome-title">Think to inovate.</h1>
      <p class="lead">A company's treasure lies in the data generated through its activities. Managing this data
        responsibly is a priority; otherwise, business failure is inevitable.</p>
      <p class="lead">
      <div class="">
        <a href="#" class="btn btn-lg btn-primary fw-bold border-white ">Request Service</a>

      </div>
      </p>

    </div>
  </div>

  <!--  Services section -->
  <div class="row mb-2 services">

    <!-- Training -->
    <div class="col-md-6 chield">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <strong class="d-inline-block mb-2 text-primary-emphasis">
            <h3 class="mb-0">Training</h3>
          </strong>

          <p class="card-text mb-auto">
          <p class="card-text mb-auto">
            We offer comprehensive training programs to help individuals and
            organizations enhance their skills and knowledge in various areas.
          </p>
          </p>
          </p>

        </div>

        <div class="col-auto d-one d-lg-block">
          <img class="learn-code"
            src="https://s3-us-west-2.amazonaws.com/robogarden-new/Articles/upload/blogs/lg-leverage-of-coding.jpg"
            width="250" height="130" alt="" srcset="">
        </div>

      </div>
    </div>

    <!-- End Training -->

    <!-- Consulting -->

    <div class="col-md-6 chield">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">
            <h3 class="mb-0">Consulting</h3>
          </strong>

          <p class="mb-auto">
            We provide consulting services for companies that need to improve their data management and analysis
            processes
          </p>

        </div>

        <div class="col-auto d-one d-lg-block">
          <img class="img-consulting"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlqko9M7c5zilUBHNhsJrjvpcgMnW7MH_xiQalkDiFUw&s"
            alt="" height="249px">
        </div>

      </div>
    </div>
    <!-- End consulting -->

  </div>

  <!--  End Services section -->

</section>

<!--  End welcome section -->

<!--  Data processing processing section -->

<div class="row mb-2 data-processing-section">

  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">Your Data <span>Your Power.</span></h2>
      <p class="lead">We help you to manage your data and transform it into valuable insights that can drive your
        business
        forward. Our team of experts will work with you to develop a data strategy that aligns with your business goals
        and objectives.
      </p>
    </div>
    <div class="col-md-6 image">

      <img class="data-processing" src="{{ url_for('static', filename='assets/img/Data-processing-cyrcle.gif')}}"
        width="400" height="400" alt="" srcset="">

    </div>
  </div>

</div>

<!--  End Data processing processing section -->

<hr class="featurette-divider">

<!--  Data pipeline section -->

<div class="row mb-2 data-pipeline">

  <div class="row featurette">
    <div class="col-md-4">
      <h2 class="featurette-heading fw-normal lh-1"><span>Data Pipeline Process.</span></h2>
      <p class="lead">The process of Extract, Transform and Load data require to hard techniques and
        knowledge about the data you want to handle.
      </p>
    </div>
    <div class="col-md-8 data-pipeline-diagram">
      <img src="{{ url_for('static', filename='assets/img/ETL-PROCESS-DIAGRAM_blueblack.gif')}}" width="600"
        height="360" alt="">

    </div>
  </div>

</div>

<!--  End Data pipeline section -->


<!--  Team cards -->



<hr class="featurette-divider">

<div class="team-boxed">
  <div class="container">

    <!--  Little information  -->
    <div class="intro">
      <h2 class="text-center">Team </h2>
      <p class="text-center">
        Our development team is composed of dedicated and passionate individuals who strive to deliver the best
        solutions.
        With a diverse set of skills ranging from data engineering to backend development, our team is equipped to
        tackle any challenge.

      </p>
    </div>

    <!--  End Little information  -->

    <!--  Team members  -->

    <div class="row people">

      <div class="col-md-5 col-lg-5 item">
        <!--  Team member 1  -->
        <div class="box">

          <img class="rounded-circle"
            src="{{ url_for('static', filename='assets/img/Laurindo-03-removebg-preview-edited-v1.png') }}">
          <h3 class="name">Laurindo C. Benjamim</h3>
          <p class="title">Data Engineer & Backend Developer</p>
          <p class="description">
            I'm passionate about technology, I'm curious and like trying new things.
            <a href="{{ url_for('developer') }}" target="_blank" rel="noopener noreferrer">Make contact</a>
          </p>


          <div class="social">
            <a class="nav-link fw-bold py-1 px-0" href="https://www.linkedin.com/in/laurindocbenjamim" target="_blank"
              style="color: #333;">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="nav-link fw-bold py-1 px-0" href="https://github.com/laurindocbenjamim" target="_blank"
              style="color: #333;"><i class="fa-brands fa-github-alt"></i></a>
            <a class="nav-link fw-bold py-1 px-0" href="#" target="_blank" style="color: #333;"><i
                class="fa-brands fa-square-x-twitter"></i></a>
            <a class="nav-link fw-bold py-1 px-0" href="#" style="color: #333;"><i
                class="fa-brands fa-facebook"></i></a>
            <a class="nav-link fw-bold py-1 px-0" href="https://youtu.be/2els0GTfHmI" target="_blank"
              style="color: #333;"><i class="fa-brands fa-square-youtube" style="color: red;"></i></a>
          </div>

        </div>
        <!--  End Team member 1  -->

      </div>

    </div>
    <!--  End Team members  -->

  </div>
</div>


{% endblock %}