{% extends 'index2.html' %}

{% block header %}
<h1></h1> {% block title %} Home - {% endblock %}</h1>
{% endblock %}

{% block content %}

<style>
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .col-auto .data-processing {
    width: 400px;
    height: 300px;
    margin-top: 20%;
    margin-right: 5%;

  }

  .col-auto .learn-code {
    width: 180px;
    height: 130px;
    margin-top: 20%;
    margin-right: 5%;
    border-radius: 7rem;
  }


  

</style>


<section class="main-section">

  <div class="welcome p-4 p-md-2 mb-4 rounded text-body-emphasis  center-content">
    <div class="col-lg-6 px-0">
  
      <h1 class="welcome-title">Thinking to inovate.</h1>
      <p class="lead">A company's treasure lies in the data generated through its activities. Managing this data
        responsibly is a priority; otherwise, business failure is inevitable.</p>
      <p class="lead">
      <div class="">
        <a href="#" class="btn btn-lg btn-primary fw-bold border-white ">Request Service</a>
  
      </div>
      </p>
  
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
  
          <strong class="d-inline-block mb-2 text-primary-emphasis">
            <h3 class="mb-0">Training</h3>
          </strong>
  
          <p class="card-text mb-auto">
          <p class="card-text mb-auto">
            We offer comprehensive training programs to help individuals and
            organizations enhance their skills and knowledge in various areas.
          </p>
          </p>
          </p>
  
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="learn-code"
            src="https://s3-us-west-2.amazonaws.com/robogarden-new/Articles/upload/blogs/lg-leverage-of-coding.jpg"
            width="180" height="130" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
  
          <strong class="d-inline-block mb-2 text-primary-emphasis">
            <h3 class="mb-0">Consulting</h3>
          </strong>
  
          <p class="mb-auto">
            We provide consulting services for companies that need to improve their data management and analysis processes
          </p>
  
        </div>
  
        <div class="col-auto d-one d-lg-block">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlqko9M7c5zilUBHNhsJrjvpcgMnW7MH_xiQalkDiFUw&s"
            alt="" height="249px">
        </div>
  
      </div>
    </div>
  </div>

</section>

<style>
  .text-body-secondary{
    
  }
  .featurette{

    div{
      h2{
        margin-top: 20%;
        span{
          color: #0aec4e;
        }
      }
    }
  }

  .etl{
    img{
      border-radius: 1rem;
    }
  }
</style>
<div class="row mb-2">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Your Data <span>Your Power.</span></h2>
      <p class="lead">We help you to manage your data and transform it into valuable insights that can drive your business
        forward. Our team of experts will work with you to develop a data strategy that aligns with your business goals
        and objectives.
      </p>
    </div>
    <div class="col-md-5">
      <img class="data-processing" src="{{ url_for('static', filename='assets/img/Data-processing-cyrcle.gif')}}"
          width="400" height="400" alt="" srcset="">
      
    </div>
  </div>

</div>

<hr class="featurette-divider">


<div class="row mb-2">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1"><span>Data Pipeline Process.</span></h2>
      <p class="lead">The process of Extract, Transform and Load data require to hard techniques and
        knowledge about the data you want to handle.
      </p>
    </div>
    <div class="col-md-5">
      <img src="{{ url_for('static', filename='assets/img/ETL PROCESS DIAGRAM_white.gif')}}" width="600" height="360" alt="">
      
    </div>
  </div>

</div>


<!--  Team cards -->


<style>

  .team-boxed {
    color:#313437;
 
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
    justify-content: center;
  }
  
  .team-boxed .item {
    text-align:center;
    
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#ffffff;
    margin-bottom:30px;
   

  }
  
  .team-boxed .item .name {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:140px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }
  

  
</style>

<hr>
<div class="team-boxed">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Team </h2>
          <p class="text-center">
            Our development team is composed of dedicated and passionate individuals who strive to deliver the best solutions. 
            With a diverse set of skills ranging from data engineering to backend development, our team is equipped to tackle any challenge. 
            
          </p>
      </div>
      <div class="row people">
          <div class="col-md-5 col-lg-5 item">
              <div class="box">
                <img class="rounded-circle" src="{{ url_for('static', filename='assets/img/Laurindo-03-removebg-preview-edited-v1.png') }}">
                  <h3 class="name">Laurindo C. Benjamim</h3>
                  <p class="title">Data Engineer & Backend Developer</p>
                  <p class="description">
                    I'm passionate about technology, I'm curious and like trying new things.
                    <a href="{{ url_for('home') }}" target="_blank" rel="noopener noreferrer">Make contact</a>
                  </p>
                  <div class="social">
                    <a class="nav-link fw-bold py-1 px-0" href="https://www.linkedin.com/in/laurindocbenjamim" target="_blank" style="color: #333;"><i class="fa-brands fa-linkedin"></i></a>
        <a class="nav-link fw-bold py-1 px-0" href="https://github.com/laurindocbenjamim" target="_blank" style="color: #333;"><i class="fa-brands fa-github-alt"></i></a>
        <a class="nav-link fw-bold py-1 px-0" href="#" target="_blank" style="color: #333;"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a class="nav-link fw-bold py-1 px-0" href="#" style="color: #333;"><i class="fa-brands fa-facebook"></i></a>
        <a class="nav-link fw-bold py-1 px-0" href="https://youtu.be/2els0GTfHmI" target="_blank" style="color: #333;"><i class="fa-brands fa-square-youtube" style="color: red;"></i></a>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


{% endblock %}