{% extends "author_profile/about-laurindo-c-benjamim.html" %}


{% block content %}




<div class="content-section">
    <h2 class="mb-4">About Me</h2>
    <p>
        As a passionate and dedicated Software Developer with 3+ years of experience and Data engineer, 
        I thrive on tackling complex problems and creating innovative solutions. 
        My expertise lies in backend development, with a strong focus on scalable 
        and efficient web applications. I'm constantly learning and adapting to new 
        technologies to stay at the forefront of the ever-evolving tech landscape.
    </p>
    <p>
        When I'm not coding, you can find me contributing 
        to open-source projects, mentoring aspiring developers, 
        or exploring the great outdoors. 
        I believe in the power of technology to make a 
        positive impact on the world, and 
        I'm always eager to take on new challenges that push the boundaries of what's possible.
    </p>
</div>

<div class="content-section">
    <h2 class="mb-4">Core Skills</h2>
    <div>
        <span class="skill-badge">JavaScript</span>
        <span class="skill-badge">Angular</span>
        <span class="skill-badge">Node.js</span>
        <span class="skill-badge">Python</span>
        <span class="skill-badge">Flask</span>
        <span class="skill-badge">Pandas</span>
        <span class="skill-badge">OpenAI</span>
        <span class="skill-badge">SQL</span>
        <span class="skill-badge">MongoDB</span>
        <span class="skill-badge">Cassandra</span>
        <span class="skill-badge">Apache Airflow</span>
        <span class="skill-badge">Apache Spark</span>
        <span class="skill-badge">Hadoop</span>
        <span class="skill-badge">AWS</span>
        <span class="skill-badge">Docker</span>
        <span class="skill-badge">Git</span>
        <span class="skill-badge">RESTful APIs</span>
        <span class="skill-badge">Agile Methodologies</span>
    </div>
</div>

<div class="content-section">
    <h2 class="mb-4">Current Focus</h2>
    <p>
        I'm currently diving deep into Data Science and Machine Learning technologies. My goal is to design and implement 
        highly scalable, resilient systems that can handle the demands of the health data processing. 
        I'm also exploring the application of the machine learning in automatic invoice processing 
        creating more intelligent and adaptive solutions.
    </p>
</div>

{%endblock%}