{% extends "prompts/dashboard_prompt.html" %}

{% block style %}
<style>
    body {
        /*background: linear-gradient(135deg, #00060f, #020641, #0508b1);*/
        background-color: #05061d;
        color: #fff;
        min-height: 100vh;
    }

    .nav-pills .nav-link {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        margin: 0 5px;
        transition: all 0.3s ease-in-out;
    }

    .nav-pills .nav-link:hover,
    .nav-pills .nav-link.active {
        color: #0f2027;
        background-color: #17a2b8;
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(23, 162, 184, 0.3);
    }

    .content-section {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
    }

    #chatbox{ display: none;}
    #chatbox {
        height: 450px;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }

     #chatbox::-webkit-scrollbar-thumb { background-color: #17A2B8; /* Change this to the desired color */ } 
     #chatbox::-webkit-scrollbar { width: 7px; /* Width of the scrollbar */ } 

    .message {
        display: flex;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 20px;
        max-width: 80%;
    }

    .messageLabel{
        padding: 10px;
        width: 100%;
        background-color: rgba(36, 33, 33, 0.1);
        border-radius: 20px;
        font-size: .9rem;
    }

    .user-message {
        background-color: #17a2b8;
        color: #fff;
        align-self: flex-end;
        margin-left: auto;
    }

    .bot-message {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        align-self: flex-start;
    }

    .input-group {
        position: relative;
    }

    #prompt {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        color: #fff;
        padding: 40px 50px 40px 20px;
        height: 150px;
        border-radius: 35px;
        font-size: .9rem;
    }

    #prompt::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    #send-button {
        position: absolute;
        right: 10px;
        top: 80%;
        transform: translateY(-50%);
        background-color: rgba(37, 202, 243, 0.1);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    #copy-button {
        
        
        transform: translateY(-30%);
        background-color: rgba(37, 202, 243, 0.1);
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%; /* Position the tooltip above the button */
        left: 50%;
        margin-left: -60px; /* Center the tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }



    #exec-button {
        position: absolute;
        right: 10px;
        top: 30%;
        transform: translateY(-50%);
        background-color: rgba(37, 202, 243, 0.1);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }


    #send-button:hover {
        background-color: #138496;
    }
    #copy-button:hover{
        background-color: #138496;
    }
    #exec-button:hover{
        background-color: #138496;
    }
</style>
{%endblock%}

{% block content %}
<div class="container py-5">
    <div class="col-md-4" style="font-size: .9rem;">
        <p>
            Use our AI chatbot to help you programming
        </p>
    </div>

    <div class="content-section">
        <form id="code_generator_form">

            <div id="chatbox" style="display: none;">
                
            </div>
            <div class="input-group">
                <input type="text" id="prompt" name="prompt" class="form-control"
                    placeholder="Type your message here...">
                    <!--<button class="btn btn-primary" type="button" id="exec-button">
                        Run
                    </button>
                    
                <button class="btn btn-primary" type="button" onclick="copyText()" id="copy-button">
                    <i class="fa-regular fa-copy"></i>
                </button>-->
                <button class="btn btn-primary" type="submit" id="send-button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>

        </form>
    </div>
</div>

{%endblock%}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='app/dev_ia.js')}}"></script>-->
<script>

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
      });

    document.addEventListener('DOMContentLoaded', function () {
        const chatbox = document.getElementById('chatbox');
        const userInput = document.getElementById('prompt');
        const sendButton = document.getElementById('send-button');
        const form = document.getElementById('code_generator_form');

        var botMessageNumber = 0;

        function addMessage(message, isUser = false) {
            botMessageNumber ++;
            const messageElement = document.createElement('div');
            const messageLabel = document.createElement('div');
            const copyButton = document.createElement("button")
            const copyIcon = document.createElement("i")
            copyIcon.setAttribute("class", "fa-regular fa-clipboard")
            copyButton.appendChild(copyIcon)
            copyButton.setAttribute("type", "button")
            copyButton.setAttribute("id", "copy-button")
            copyButton.setAttribute("class", "btn btn-primary")
            copyButton.setAttribute("data-toggle","tooltip")
            copyButton.setAttribute("data-placement","top")
            copyButton.setAttribute("title","Copy")

            messageElement.classList.add('message');
            messageElement.classList.add(isUser ? 'user-message' : 'bot-message');
            
            messageLabel.textContent = message;

            messageLabel.classList.add('messageLabel')            
            //messageLabel.style.backgroundColor = 'red'

            messageElement.appendChild(messageLabel)
            //
            if(!isUser){
                messageLabel.id = "bot"+botMessageNumber
                messageElement.appendChild(copyButton)
            }

            copyButton.addEventListener('click', function(e){
                
                const buttonId = e.target.id;
                copyText(buttonId)
            })

            chatbox.style.display = 'block'
            chatbox.appendChild(messageElement);
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        function sanitizeInput(input) {
            // Remove any script tags
            let sanitizedInput = input.replace(/<script[^>]*?>.*?<\/script>/gi, "");
            // Encode special characters
            sanitizedInput = sanitizedInput.replace(/</g, "&lt;").replace(/>/g, "&gt;");
            return sanitizedInput;
          }
          
          
          function filterString(input) {
            // This regular expression matches words with or without accentuation and punctuation
            var regex = /[A-Za-zÀ-ÖØ-öø-ÿ.,;?!'"\s]+/g;
            var result = input.match(regex);
            return result ? result.join('') : '';
          }


          // Function to copy text
          function copyText(botMessage) { 
            //var copyText = document.getElementById("chatbotField"); 
            var copyText = document.getElementById(botMessage)
            copyText.select(); document.execCommand("copy"); 
          alert("Copied the text: " + copyText.value); } 

        function botResponse(message) {
            const lowerMessage = message.toLowerCase();


            if (lowerMessage.includes('experience')) {
                return "John has over 5 years of experience in software engineering, specializing in full-stack development. He has worked on various projects involving JavaScript, React, Node.js, and Python.";
            } else if (lowerMessage.includes('project')) {
                return "John has worked on several exciting projects, including a scalable e-commerce platform and a machine learning-powered recommendation system. You can find more details on the Projects page.";
            } else if (lowerMessage.includes('skill') || lowerMessage.includes('technology')) {
                return "John's core skills include JavaScript, React, Node.js, Python, Django, SQL, MongoDB, AWS, Docker, and Git. He's also proficient in RESTful APIs and Agile methodologies.";
            } else if (lowerMessage.includes('contact') || lowerMessage.includes('hire')) {
                return "You can contact John via email at john.doe@example.com or connect with him on LinkedIn. He's always open to new opportunities and collaborations!";
            } else if (lowerMessage.includes('hello') || lowerMessage.includes('hi')) {
                return "Hello! I'm Data Tuning code generator. How can I assist you today?";
            } else {
                return "I'm sorry, I don't have specific information about that. Is there anything else you'd like to know about John's experience, projects, or skills?";
            }
        }

        function handleUserInput() {
            const message = userInput.value.trim();
            if (message) {
                addMessage(message, true);
                userInput.value = '';
                setTimeout(() => {
                    const response = botResponse(message);
                    addMessage(response);
                }, 500);
            }
        }

        // Function to handle button click
        function handleButtonClick(event) {
            // Get the id of the clicked button
            const buttonId = event.target.id;
            // Log the id to the console
            console.log('Button clicked:', buttonId);
            return buttonId
        }

        /*sendButton.addEventListener('click', handleUserInput);
        userInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                handleUserInput();
            }
        });*/

        form.addEventListener('submit', async e => {
            e.preventDefault();

            const baseUrl = window.location.origin;
            const dataForm = new FormData();

            //var token = document.querySelector('meta[name="token"]').getAttribute('content')
            
            //

            try {

                const message = userInput.value.trim();
                if (!message){
                    console.log("Input required")
                } else if(!sanitizeInput(message)){
                    alert("Invalid input value")
                }
                else if(!filterString(message)){
                    alert("Invalid input value")
                }  
                else{

                    dataForm.append('prompt', message)
                    addMessage(message, true);

                    const res = await fetch(
                        `${baseUrl}/ai/dev-ai`,
                        {
                            method: 'POST',
                            body: dataForm
                        },
                    );

                    const resData = await res.json();
                     //console.log(resData)    
                    userInput.value = '';
                    setTimeout(() => {
                        if (resData && resData[1]==200) {
                            var response = resData[0].response.replace('```', '')
                            response = response.replace('```', '')
                            console.log(response[0])
                            addMessage(response);
                        }
                        //const response = botResponse(message);
                        
                    }, 500);
                }

            } catch (err) {
                console.log(err)
            }


        })

        // Initial bot message
        addMessage("Hello! I'm Data Tuning code generator. How can I help you today?");
    });
</script>

{%endblock%}