


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  End welcome section -->

<!--  Data processing processing section -->

<div class="row mb-2 data-processing-section">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading fw-normal lh-1">Your Data <span>Your Power.</span></h2>
        <p class="lead">We help you to manage your data and transform it into valuable insights that can drive your
          business
          forward. Our team of experts will work with you to develop a data strategy that aligns with your business goals
          and objectives.
        </p>
      </div>
      <div class="col-md-6 image">
  
        <img class="data-processing" src="{{ url_for('static', filename='assets/img/Data-processing-cyrcle.gif')}}"
          width="400" height="400" alt="" srcset="">
  
      </div>
    </div>
  
  </div>
  
  <!--  End Data processing processing section -->
  
  <hr class="featurette-divider">
  
  <!--  Data pipeline section -->
  
  <div class="row mb-2 data-pipeline">
  
    <div class="row featurette">
      <div class="col-md-4">
        <h2 class="featurette-heading fw-normal lh-1"><span>Data Pipeline Process.</span></h2>
        <p class="lead">The process of Extract, Transform and Load data require to hard techniques and
          knowledge about the data you want to handle.
        </p>
      </div>
      <div class="col-md-8 data-pipeline-diagram">
        <img src="{{ url_for('static', filename='assets/img/ETL-PROCESS-DIAGRAM_blueblack.gif')}}" width="600"
          height="360" alt="">
  
      </div>
    </div>
  
  </div>
  
  <!--  End Data pipeline section -->
</body>
</html>