{% extends "site.html" %}

{% block title %}
{% if title %}{{ title }} {% endif %}
{% endblock %}

{% block content %}

<style>
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .message {
    font-size: .9rem;
  }

  .error {
    color: rgb(247, 45, 45);
  }

  .info {
    color: rgb(19, 122, 240);
  }

  .success {
    color: rgb(11, 167, 11);
  }

  .danger {
    color: rgb(255, 94, 0);
  }





  .list-group {
    width: 100%;
    max-width: 460px;
    margin-inline: 1.5rem;
  }

  .form-check-input:checked+.form-checked-content {
    opacity: .5;
  }

  .form-check-input-placeholder {
    border-style: dashed;
  }

  [contenteditable]:focus {
    outline: 0;
  }

  .list-group-checkable .list-group-item {
    cursor: pointer;
  }

  .list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  .list-group-item-check:hover+.list-group-item {
    background-color: var(--bs-secondary-bg);
  }

  .list-group-item-check:checked+.list-group-item {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .list-group-item-check[disabled]+.list-group-item,
  .list-group-item-check:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }

  .list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
  }

  .list-group-radio .form-check-input {
    z-index: 2;
    margin-top: -.5em;
  }

  .list-group-radio .list-group-item:hover,
  .list-group-radio .list-group-item:focus {
    background-color: var(--bs-secondary-bg);
  }

  .list-group-radio .form-check-input:checked+.list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 2px var(--bs-primary);
  }

  .list-group-radio .form-check-input[disabled]+.list-group-item,
  .list-group-radio .form-check-input:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }
</style>

<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <div class="col-lg-6" >

    <h1>Create</h1>

    <div class="form-group">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flash-alert">
        <ul class=flashes>
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }} {{ redirectUrl }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}
    </div>

    <form method="POST">
      
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control" id="username" value="{{ request.form.get('username', '') }}"
              name="username" placeholder="Username">
            <input type="email" class="form-control" id="email" value="{{ request.form.get('email', '') }}" name="email"
              placeholder="Email">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    
          </div>
          
          <br>
          
          <div class="list-group">
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1"
                value="" checked>
              <span>
                First radiossss
                <small class="d-block text-body-secondary">With support text underneath to add more detail</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios2"
                value="">
              <span>
                Second radio
                <small class="d-block text-body-secondary">Some other text goes here</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios3"
                value="">
              <span>
                Third radio
                <small class="d-block text-body-secondary">And we end with another snippet of text</small>
              </span>
            </label>
          </div>
          
          <br>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create">
          </div>
        </div>

    </form>
  </div>
</div>
<p>I have an account. <a href="{{ url_for('auth.user.login') }}">Sign In</a></p>

{% endblock %}