<footer class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('about_us')}}">About Us</a></li>
                    <li><a href="{{ url_for('courses')}}">Courses</a></li>
                    <li><a href="{{ url_for('about_us')}}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="{{ url_for('about_us')}}" class="text-dark me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="{{ url_for('about_us')}}" class="text-dark me-2"><i class="fab fa-twitter"></i></a>
                <a href="{{ url_for('about_us')}}" class="text-dark me-2"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://youtube.com/@laurindocbenjamim?si=QBqwGf_vuu-Fvdqp" target="_blank" class="text-dark me-2"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="col-md-4">
                <h5>Newsletter</h5>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 Data Tuning. All rights reserved.</p>
    </div>
</footer>