<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="https://websimdomain.com/about">About Us</a></li>
                <li><a href="https://websimdomain.com/courses">Courses</a></li>
                <li><a href="https://websimdomain.com/contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Follow Us</h5>
            <a href="https://facebook.com/websimdomain" class="text-dark me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/websimdomain" class="text-dark me-2"><i class="fab fa-twitter"></i></a>
            <a href="https://linkedin.com/company/websimdomain" class="text-dark me-2"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col-md-4">
            <h5>Newsletter</h5>
            <form>
                <div class="input-group">
                    <input type="email" id="subscriber" name="subscriber" class="form-control" placeholder="Enter your email">
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <p class="text-center">&copy; 2023 Data Tuning. All rights reserved.</p>
</div>