{% extends "layout.html" %}

{% block title %}
{% if title %}{{ title }} {% endif %}
{% endblock %}

{% block content %}
    <h1>Log Details</h1>
    <p>Welcome, {{ user }}!</p>
    <div class="container">
        <div class="content">
            <div class="col-lg-12">
                <div class="mb-3">
                    {% if log_data %}
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" style="height: 800px;">
                        {{log_data}}
                    </textarea>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}