
{%extends 'layout.html'%}
{%block title%}
{%if title%}{{title}}{%endif%}
{%endblock%}
{%block content%}

<div class="container">
    <h1>User List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>   
                <td>{{ user.email }}</td>                 
                <td>{{ user.country_code }} {{ user.phone }}</td>
                <td>{{ user.country }}</td>
                <td><a class="btn btn-danger" href="{url_for('projects.user-remove', user_id=user.userID, user_token=user_token)}">{{user_token}}Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%endblock%}